@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local('Lato Black'), local('Lato-Black'), url(https://brick.a.ssl.fastly.net/fonts/lato/900.woff) format('woff');
}
