$phone:        "(min-width : 320px)";
$small-tablet: "(min-width : 481px)";
$tablet:       "(min-width : 641px)";
$large-tablet: "(min-width : 961px)";
$computer:     "(min-width : 1025px)";
$hi-res:       "(min-width : 1281px)";
